<div class="container">
  <div class="row" id="header">
    <div class="col-sm-6">
        <h1><%= link_to 'My Blog', controller: 'articles', id: "link_to_home" %></h1><br><i>My first rails blog</i>
    </div>
    <div class="col-sm-6">
      <%= form_tag(search_path, method: "get", id: "search_box") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>       
    </div>
  </div>
<p>
  <h2><%= @article.title %></h2>
  
</p>
 
<p>
  <%= @article.text %>
</p>
<p>
	<h2>Comments</h2>
	<%= render @article.comments %>
</p>
<p>
	<h2>Add comment</h2>
	<%= render 'comments/form' %>
</p>
<%= link_to 'Back', articles_path %>
</div>